/* Main Message */

.message {
  background-color: papayawhip;

  display: grid;
  grid-template-areas: 
  "aside meta reply"
  "aside content content";

  width: max-content;

  padding: 1em 1em;
  border-radius: 10px;

  box-shadow: 10px 10px 10px grey;
}

.message > .meta-information {
  grid-area: meta;

  display: flex;
  gap: 1em;
  padding: 0.3em;
}

.message > .interactions {
    grid-area: aside;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message > .reply {
  grid-area: reply;
  place-self: end;
}

.message > .content {
  grid-area: content;
  max-width: 400px;
}

/* Components */
.message .upvote {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: peachpuff;
  padding: 0.5em 0px;
  border-radius: 10px;

  width: min-content;
}
